$backgroundColor: #ede8df;
$backgroundSecondColor: #f3f0ea;
$--font-family: "Open Sans",sans-serif;
$--font-family-extra: "Inter",serif;
$--main-color: #86756c;
$--extra-color: #ab5429;
$--font-family-reey: "reeyregular";
$color: #000;
